.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
  font-family: 'Poppins', sans-serif;
}

.home-card {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  max-width: 400px;
}

.home-card h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #c6d7e6;
}

.home-card p {
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: #444;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.home-buttons button {
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #b0d2f8;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-buttons button:hover {
  background-color: #7caaeb;
}

.logout-btn {
  padding: 0.6rem 1.5rem;
  background-color: #DB4437;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #b33b2d;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.home-content {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.navbar button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar button:hover {
  color: #ffffff;
}

.mypage-icon-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: white;
  border: none;
  border-radius: 12px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.mypage-icon-btn:hover {
  background-color: #d8dee5;
  transform: scale(1.05);
}

.icon-user,
.icon-menu {
  font-size: 1.2rem;
}