.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(-45deg, #4EA685 0%, #57B894 100%);
    font-family: 'Poppins', sans-serif;
  }
  
  .home-card {
    background-color: white;
    padding: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    max-width: 400px;
  }
  
  .home-card h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #4EA685;
  }
  
  .home-card p {
    margin-bottom: 1.5rem;
    font-weight: 500;
    color: #444;
  }
  
  .home-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .home-buttons button {
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #4EA685;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .home-buttons button:hover {
    background-color: #3e8d6f;
  }
  
  .logout-btn {
    padding: 0.6rem 1.5rem;
    background-color: #DB4437;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .logout-btn:hover {
    background-color: #b33b2d;
  }
  
  .mypage-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .mypage-btn:hover {
    background-color: #ffffff;
    transform: scale(1.05);
  }
  